<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/restaurant</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">19fktyrf</property>
        <property name="connection.autocommit">true</property>

        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <property name="connection_pool_size">10</property>

        <property name="show_sql">true</property>

        <mapping class="ua.goit.java.db.Category"/>
        <!--<mapping class="ua.goit.java.db.Dish"/>-->
        <!--<mapping class="ua.goit.java.db.Employee"/>-->
        <!--<mapping class="ua.goit.java.db.Ingredients"/>-->
        <!--<mapping class="ua.goit.java.db.Menu"/>-->
        <!--<mapping class="ua.goit.java.db.OrderedDish"/>-->
        <!--<mapping class="ua.goit.java.db.Orders"/>-->
        <!--<mapping class="ua.goit.java.db.Position"/>-->
        <!--<mapping class="ua.goit.java.db.PrepareDish"/>-->
        <!--<mapping class="ua.goit.java.db.Store"/>-->



    </session-factory>
</hibernate-configuration>




